.drawer {
    position: relative;
    display: none;
    align-items: center;
    z-index: 5;
  }
  
  .drawer-toggle {
    position: relative;
    top: 20px;
    right: 0;
    z-index: 1;
    width: 70px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: #000;
    font-size: 24px;
  }
  
  .drawer-toggle i {
    vertical-align: middle;
  }
  
  .drawer-content {
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100%;
    background-color: #333;
    transition: all 0.3s ease;
  }
  
  .drawer-content.open {
    right: 0;
  }
  
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    /* justify-content: center; */
    height: 100%;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    right: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  .nav a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  /* .nav > a:hover {
    background-color: #444;
  } */
  
  @media only screen and (max-width: 768px) {
    .drawer{
      display: flex;
    }
  }