body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  background-color: #f2f2f2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header > img {
  display: none;
  margin: auto 0;
}

.header:last-child{
  display: none;
}

nav ul {
  display: flex;
  margin: auto;
  list-style: none;
}

nav li {
  margin: auto 20px auto 0;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav a:hover {
  color: #666;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.universities{
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
  column-gap: 20px;
}

.university {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.university h2 {
  margin: 0 0 10px;
  font-size: 24px;
  font-weight: bold;
}

.university p {
  margin: 0 0 10px;
  font-size: 16px;
}

.university img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.detail-wrapper{
  max-width: 1200px;
  margin-inline: auto;
}

.detail-header{
  position: relative;
}

.detail-header > img{
  width: 100%;
  height: 250px;
}

.detail-header > h3 {
  position: absolute;
  bottom: 0;
  left: 20px;
}

.detail-wrapper > p, h4 {
  margin: 16px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .header {
    flex-direction: row;
    align-items: flex-start;
  }

  .header > img {
    display: flex;
  }

  nav ul {
    display: none;
  }

  .content {
    padding: 10px;
  }

  .university {
    max-width: 100%;
    margin: 10px 0;
    padding: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .university h2 {
    font-size: 20px;
  }

  .university p {
    font-size: 14px;
  }
}
